#mapa-mapbox {
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

ng-sidebar-container {
    height: 100vh;
}

::ng-deep .ng-sidebar {
    background-color: #c0e251;
    width: 300px;
    padding: 2em 3em;
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
}

h1{
    font-size: 25px;
    font-family: monospace;
}
p {
    font-size: 20px;
    font-family: monospace;
}

button {
    background-color:rgba(20, 88, 8, 0.5);
    color: white;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}

.module{
    width: 200px;
    height: 200px;
    background: seagreen;
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.one{
    position: absolute;
    right: 50px;
    border: 5px solid white;
}

.two{
    position: absolute;
    right: 340px;
    border: 5px solid white;
}

.three{
    position: absolute;
    right: 640px;
    border: 5px solid white;
}

.four{
    position: absolute;
    right: 50px;
    top: 340px;
    border: 5px solid white;
}

.five{
    position: absolute;
    right: 340px;
    top: 340px;
    border: 5px solid white;
}

.six{
    position: absolute;
    right: 640px;
    top: 340px;
    border: 5px solid white;
}